{{ define "main" }}

{{with site.Params.contact_form_action}}
<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <form action="{{.}}" method="POST">
          <div class="mb-4">
            <label for="name" class="form-label">{{ i18n "name" }}</label>
            <input type="text" name="Sender name" class="form-control rounded" id="name" placeholder="Julie Evans" required>
          </div>
          <div class="mb-4">
            <label for="email" class="form-label">{{ i18n "email" }}</label>
            <input type="email" name="Sender email" class="form-control rounded" id="email" placeholder="my.email@mycompany.com" required>
          </div>
          <div class="mb-4">
            <label for="subject" class="form-label">{{ i18n "subject" }}</label>
            <select id="subject" name="Subject" class="form-control rounded" required>
              <option selected>I have a general question about Tech Writing Talks</option>
              <option>I'd like to pitch a talk</option>
              <option>I'd like to sponsor Tech Writing Talks</option>
            </select>
          </div>
          <div class="mb-4">
            <label for="message" class="form-label">{{ i18n "message"}}</label>
            <textarea name="Message" class="form-control rounded" id="message" rows="4" placeholder="Q, pitch, or sponsor!" required></textarea>
          </div>

          <button type="submit" class="btn btn-primary rounded" aria-label="Send Message">{{ i18n "send_message"}}</button>
        </form>
      </div>
    </div>
  </div>
</section>
{{end}}

{{ end }}